@import '@assets/style/theme.scss';

// CSS that can pollute global styles. Use it with caution.
// If you use ShodowRoot for style pollution, this style will not be applied inside the content script.
.content-view-style-may-be-not-working {
  font-size: 30px;
}

.popup-menu {
  // position: absolute;
  // z-index: 1001;
}

.minimap {
  // position: absolute;
  // z-index: 100;
}

/* .draggable {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    text-align: center;
    line-height: 100px;
    border: 1px solid #000;
} */

.rotating-box {
  animation: rotateClockwise 2s linear infinite;
}

@keyframes rotateClockwise {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}